.faq-item {
    list-style: none;
    font-weight: 700;
    font-size: 24px;
    padding: 30px 70px;
    margin-bottom: 20px;
}

.faq-list :last-child {
    margin-bottom: 0;
}

.faq-list :nth-child(odd) {
    color: #1C1A1A;
    background-color: #FFF; 
} 

.faq-list :nth-child(even) {
    background-color: #440F51;
    color: #FFF;    
}

.faq__title {
    margin-bottom: 40px;
}

