.footer__contacts {
    display: block;
    margin-bottom: 39px;
    max-width: 380px;
}

.contacts-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 156px;
}

.contacts__block {
    margin-top: 0;
    margin-bottom: 11px;
    position: relative;
    padding-left: 63px;
    width: 360px;
    font-size: 24px;
    line-height: 28px; 
    font-weight: 700;
    display: block;
    color: #FFF; 
}

.contacts__block:before {
    content: "";
    position: absolute;
    width: 35px;
    height: 100%;
    left: 0;
    top: 0;
    background-position-y: center;
    background-repeat: no-repeat;
}

.contacts__block:first-child {
    margin-bottom: 38px;
}

.contacts__block:last-child {
    margin-bottom: 0;
}

.contacts__block--type--adress:before { 
    background-image: url("../img/location.svg"); 
}
    
.contacts__block--type--tel:before {
    background-image: url("../img/phone.svg"); 
}

.contacts__block--type--mail:before {
    background-image: url("../img/envelope.svg"); 
}

.nav__list {
    font-size: 0;  
}

.nav__list :last-child {
    margin-right: 0;
}

.nav__link {
    display: block;
}

.nav__item {
    margin-right: 27px;
    display: inline-block;
    line-height: 16px;
}

.about-author {
    text-align: end;
}
