.halls__text {
    font-size: 70px;
    font-weight: 700;
    text-align: center;
    line-height: 80px;
    text-transform: uppercase;
    max-width: 211px;
    margin: 0 auto;
}

.halls__item {
    height: 710px;
    margin-bottom: 60px;
    padding-top: 275px;
}

.halls__item--image--vibes {
    background-image: url("../img/80s-vibes.jpg");
}

.halls__item--image--starwars {
    background-image: url("../img/star-wars.jpg");
}

.halls__item--image--wildwest {
    background-image: url("../img/wild-west.jpg");
}

.halls__item--image--neonstyle{
    background-image: url("../img/neon-style.jpg");
}

.halls__list :last-child {
    margin-bottom: 0;
}