* {
    box-sizing: border-box;
}

.body {
    background-color: #1B1A1B;
    color: #FFF;
    margin: 0;
    font-family: "Arial";
    font-size: 20px;
    font-weight: 400; 
}

.wrapper {
    width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
}

.container {
    width: 1180px;
}

.section {
    padding-bottom: 100px;
}

.section-header {
    padding-top: 146px;
}

.subtitle {
    margin-bottom: 60px;
    margin-top: 0;
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
}

.subtitle:last-of-type {
    margin-bottom: 54px;
}

.text {
    margin-top: 0;
    margin-bottom: 0;
}









